
/*=shortcodes Tours
--------------------------------------------------------------------*/
.wpestate_tour .ui-widget {
    font-size: 13px;
}

.wpestate_tour .ui-widget-content {
    border: none;
    background: #fff;
    color: var(--wp-estate-font-color-option, var(--wp-estate-font-color));
    border-left: 0px;
}

.wpestate_tour .ui-widget-header {
    background: #fdfdfd;
    color: var(--wp-estate-font-color-option, var(--wp-estate-font-color));
    font-weight: normal;
    height: 100%;
    border: 1px solid #f0f0f0;
}

.wpestate_tour .ui-state-default,
.wpestate_tour .ui-widget-content .ui-state-default,
.wpestate_tour .ui-widget-header .ui-state-default {
    border: none;
    background: #f0f0f0;
    color: #434953;
    font-weight: normal;
    width: 100%;
    padding: 4px 0px;
    border-radius: var(--wp-estate-border-radius-corner-option,var(--wp_estate_border_radius_corner));
}

.wpestate_tour.wpb_content_element .wpb_tabs_nav li.ui-tabs-active {
    background-color: #fff;
}

.wpestate_tour .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-left: 3px solid var(--wp-estate-main-color-option, var(--wp-estate-main-color));
}

.wpestate_tour .ui-state-default a,
.wpestate_tour .ui-state-default a:link,
.wpestate_tour .ui-state-default a:visited {
    color: #222;
    font-weight: normal;
    font-size: 15px;
}

.wpestate_tour .ui-state-active a,
.wpestate_tour .ui-state-active a:link,
.wpestate_tour .ui-state-active a:visited {
    color: var(--wp-estate-main-color-option, var(--wp-estate-main-color));
}

.wpb_tour.wpestate_tour .wpb_tour_tabs_wrapper .wpb_tab {
    padding: 0em 0em 0em 1em;
}

.wpestate_tour .wpb_tour_next_prev_nav {
    padding-left: 13px;
}

.wpestate_tour .wpb_tour_next_prev_nav span,
.wpestate_tour .wpb_tour_next_prev_nav span {
    padding: 0em 0 1em 0;
}

.wpestate_tour .wpb_tour_next_prev_nav a,
.wpestate_tour .wpb_tour_next_prev_nav a {
    border-bottom: none;
}

.wpestate_tour .wpb_prev_slide:before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
    padding-right: 5px;
}

.wpestate_tour .wpb_next_slide:after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding-left: 5px;
}