

/*auto-complete*/

.ui-menu .ui-menu-item {
    margin: 0 !important;
    width: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--wp-estate-font-color-option, var(--wp-estate-font-color));
}

.ui-menu-item-wrapper {
    padding: 10px 15px !important;
    cursor: pointer;
}

.ui-menu .ui-state-focus {
    border: none !important;
    border-bottom: 0px solid #e7e7e7!important;
    background-image: none;
    font-weight: normal!important;
    background-color: var(--wp_estate_adv_search_background_color-option, var(--wp_estate_adv_search_background_color));
    color: var(--wp-estate-adv-search-font-color-option, var(--wp_estate_adv_search_font_color))!important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 0px solid #e7e7e7!important;
    color: var(--wp-estate-adv-search-font-color-option, var(--wp_estate_adv_search_font_color))!important;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif;
    background: var(--wp_estate_adv_search_background_color-option, var(--wp_estate_adv_search_background_color))!important;
}



/*=search auto complete for wpestate location field*
--------------------------------------------------------------------*/

.ui-menu.ui-autocomplete li.ui-menu-item .ui-menu-item-wrapper {
    padding: 11px 15px 10px 33px!important;
    line-height: 1em;
    font-size: 13px;
    color: var(--wp-estate-font-color-option, var(--wp-estate-font-color));
}

.ui-menu .wpresidece-dropdown-category-label.ui-menu-item{
    line-height: 34px;
    font-weight: 600;
    border-top: 1px solid #efefef;
    pointer-events: none!important;
    padding:0px 15px;
    font-size: 13px;
}


.wpresidence-geolocatiomarker-city,
.wpresidence-geolocatiomarker {
    background-image: url(css-images/icons/location_city.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.wpresidence-geolocatiomarker-city.ui-state-active,
.wpresidence-geolocatiomarker.ui-state-active {
    background-image: url(css-images/icons/location_city.svg)!important;
    background-size: 12px 12px!important;
    background-repeat: no-repeat!important;
    background-position: 15px center!important;
}

.wpresidence-geolocatiomarker-area {
    background-image: url(css-images/icons/location_area.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.wpresidence-geolocatiomarker-area.ui-state-active {
    background-image: url(css-images/icons/location_area.svg)!important;
    background-size: 12px 12px!important;
    background-repeat: no-repeat!important;
    background-position: 15px center!important;
}


.wpresidence-geolocatiomarker-countystate {
    background-image: url(css-images/icons/location_county.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position:15px center;

}

.wpresidence-geolocatiomarker-countystate.ui-state-active {
    background-image: url(css-images/icons/location_county.svg)!important;
    background-size: 12px 12px!important;
    background-repeat: no-repeat!important;
    background-position: 15px center!important;
}

.adv_locations_search_component_wrapper{
    position: relative;
    width: 100%;
    float:left;
}

#primary .adv_locations_search_component_wrapper{
    float: none;
}

.wpresidece-reset-btn {
    position: absolute;
    top: 12px;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 13px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    cursor: pointer;

    &:hover {
        border: 1px solid #000000;
    }
}
