
.listing_wrapper.col-md-12>.property_listing {
    width: 100%;
    max-width: 100%;
}

.listing_wrapper.col-md-12 .property_listing {
    flex-direction: row;
}

.listing_wrapper.col-md-12 .listing-unit-img-wrapper,
.listing_wrapper.col-md-12>.property_listing .carousel-inner {
    position: relative;
    width: 100%;
    max-width: 320px;
    max-width: 375px;
    display: inline;
    float: left;
    min-height: 200px;
    height: 100%;
}

.listing_wrapper.col-md-12>.property_listing .carousel-inner .item {
    height: 100%;
}

.listing_wrapper.col-md-12 .property-unit-information-wrapper {
    flex: 1;
}

.listing_wrapper.col-md-12 .listing-unit-img-wrapper img {
    object-fit: cover;
    height: -webkit-fill-available;

}

.listing_wrapper.col-md-12 .listing-unit-img-wrapper {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    min-height: 100%;
}