//scss\widgets\_category_list_widget

/*Category List Widget*/

.category_list_widget {
    li {
      width: 100%;
      border-bottom: 1px solid #e7e7e7;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0; // Adds vertical padding inside each `li`
      margin-bottom: 0;
  
      .child_category {
        float: left;
        width: 100%;
  
        li {
          padding-left: 15px;
          border:none;
        }
      }
    }
}

#colophon {
  .category_list_widget {
    li {
      border: none;
      justify-content: flex-start;
      column-gap: 5px;
      padding: 0px;
      line-height: normal;
      margin-bottom: 10px; // Add px for the margin

      &:last-child {
        margin-bottom: 0; // No margin-bottom for the last list item
      }
    }
  }
}
