[dir="rtl"] {
    #google_map_prop_list_sidebar .entry-title{
        float: right;
    }
    .wpresidence_half_map_filter_wrapper {
        right: unset;
        left: 15px;
    }

    .wpestate_list_grid_filter_wiew_wrapper {
        margin-right: auto;
        margin-left: unset;
    }

    .type_class_4 .testimmonials_starts{
        float: right;
    }
}