/** MILLDONE
 * WpResidence Theme - Energy Savings Styles
 * src: scss/property_page/_energy_sections.scss
 * This file contains styles for the energy savings section in the WpResidence theme.
 * It defines the layout and appearance of energy class containers, indicators, and related elements.
 *
 * Package: WpResidence
 * Dependency: None
 *
 * Usage: Import this file into the main theme stylesheet or enqueue it specifically
 * on pages where the energy savings section is displayed.
 */


.listing_detail_energy {
    .row.class-energy {
        margin: 0px 0px 25px 0px;

        .wpestate-energy_class_container {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: stretch;
            align-items: stretch;
            gap: 0px;
            margin-top: 60px;
            margin-bottom: 15px;
            padding: 0px;

            .wpestate-class-energy {
                color: #fff;
                flex-grow: 1;
                text-align: center;
                padding: 6px 0px;
                position: relative;

                // Styles for energy class indicators
                .indicator-energy {
                    position: absolute;
                    top: -45px;
                    left: 7%;
                    padding: 6px 12px;
                    color: #fff;
                    background-color: #999;
                    font-weight: 500;
                    white-space: nowrap;
                    -webkit-font-smoothing: antialiased;
                    text-align: left;
                    font-size: 12px;
                    z-index: 9;

                    &:before {
                        content: "";
                        position: absolute;
                        border-top: 10px solid #999;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        bottom: -10px;
                        left: 8%;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
